<!doctype html>
<html lang="fr">

<head>
	<meta Charest="UTF-8">
	<title>Voici mon site</title>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/javascript/controller.js"></script>
</head>
<body ng-app ="test" ng-controller="monControl">
	<form>
		Nom <input type:"text" ng-model="perso.nom"></input>
		Prénom <input type:"text" ng-model="perso.prenom"></input>
		<button ng-click="traitForm()">Valider</button>
	</form>

	<p> {{perso}} </p>
	<p> {{listePerso}} </p>
	<h1>Liste des adhérents</h1>
	<div ng-repeat="perso in listePerso">
		<h3>Identifiant : {{perso.id}}</h3>
		<p>Nom: {{perso.nom}}</p>
		<p>Prénom : {{perso.prenom}}</p>
	</div>
</body>
</html>