<!doctype html>
<html lang="fr">

<head>
	<meta Charest="UTF-8">
	<title>Voici mon site</title>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/javascript/controller.js"></script>
</head>
<body ng-app ="test" ng-controller="monControl">
	<form>
		Nom <input type:"text" ng-model="ident"></input>
		<button ng-click="afficheFiche()">Valider</button>
	</form>

	<h3>Liste des adhérents</h3>
	<div ng-repeat="fiche in listeFiche">
		<p><strong>Nom:</strong> {{fiche.nom}}</p>
		<p><strong>Prénom :</strong> {{fiche.prenom}}</p>
		--------------------
	</div>
</body>
</html>