<!DOCTYPE html>
<html lang="fr" ng-app="greenBerry">
	<head>
        
        <meta charset="utf-8" />
        <title>GreenBerry</title>        
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.css">
    </head>
    <body ng-controller="userCtrl">
        <ul>
            <li><a >Greenberry</a></li>
            <li style="float:right"><a href="map.html"><button type="button">MAP</button></a></li>
            <li style="float:right"><a href="#Home"><button type="button">HOME</button></a></li>
        </ul>

        <div layout="row" layout-align="space-around center">
            <div><img class="round" src="http://placehold.it/200x200"><h4>Titre1</h4></div>
            <div><img src="cocotier_-_04.jpg" width="200" height="200"><h4>Titre2</h4></div>
            <div><img src="http://placehold.it/200x200"><h4>Titre3</h4></div>
        </div>
        <form id="control-form" a>
            <input id="new-user" type="text" placeholder="Nom" ng-model="user.name"/>
            <input id="new-email" type="email" placeholder="E-mail" ng-model="user.mail" required />
            <md-button ng-click="addUser(user)" class="md-raised">
                Ajouter
            </md-button>
        <li ng-repeat="user in users" ng-class="{completed: user.completed}">
            <div class="view">
                <span>{{user.title}}</span>
                <button  class="md-raised user" ng-click="removeUser($index)">
                    <md-icon md-svg-icon="md-close"></md-icon>
                </button>
                <!--<span class="close" ng-click="removeUser($index)">x</span>-->
            </div>
        </li>
        </form>
 <md-chips ng-model='fruitNames' name="fruitName" readonly="false" md-max-chips="5">
        <md-chip-template>
          <strong>{{$chip}}</strong>
          <em>(fruit)</em>
        </md-chip-template>
      </md-chips>


      {{fruitNames}}
<!-- script en bas ! -->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.min.js"></script>-->
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="/bower_components/angular-material/angular-material.min.js"></script>
        <script src="/controller.js"></script>

    </body>
</html>