select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#map {
        width: 500px;
        height: 400px;
      }

input[type=submit] {
    width: 100%;
    background-color: #8bc34a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8bc34a;
}

.test {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}

form { 
margin: 0 auto; 
width:250px;
}

ul {
    list-style-type: none;
    width: 100%;
    height: 64px;
    max-height: 64px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8bc34a;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}