<!doctype html>
<html lang="fr">

<head>
	<meta Charest="UTF-8">
	<title>Test AngularJS</title>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/controller.js"></script>
</head>

<body ng-app ="test" ng-controller="monControl">
	<button ng-click="affichage()">Cliquez Ici</button>
	<ul ng-show="visible">
		<li ng-repeat="fruit in mesFruits">{{fruit}}</li>
	</ul>
</body>
</html>