<!doctype html>
<html lang="fr">

<head>
	<meta Charest="UTF-8">
	<title>Test AngularJS</title>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/controller.js"></script>
</head>

<body ng-app ="test" ng-controller="monControl">
	<h1>Ma liste de fruits</h1>
	<form>
		<p>rechercher un fruit </p>
		<input type="text" ng-model="recherche"></input>
	</form>
	<ul>
		<li ng-repeat="fruit in mesFruits | filter:recherche">{{fruit}}</li>
	</ul>
</body>
</html>