<!doctype html>
<html lang="fr">

<head>
	<meta Charest="UTF-8">
	<title>Voici mon site</title>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/javascript/controller.js"></script>
</head>
<body ng-app ="app" ng-controller="monControl">
	<form>
			<p>Nom<input type:'text' ng-model="perso.nom"></p>
			<p>Prénom<input type:'text' ng-model="perso.prenom"></p>
			<p>Age<input type:'text' ng-model="perso.age"></p>
			<p>Poids <input type:'text' ng-model="perso.poids"></p>
			<button ng-click="traitForm()">Valider</button>
	</form>
</body>
</html>