h1{
	text-align: center;
	margin: 30px;
	font-size: 60px;
}
h4{
	text-align: center;
}
body{
	width:70%;
	margin-left: auto;
	margin-right: auto;
}
p{
	text-align: justify;
}
footer{
	margin-top: 60px;
}
header{
	margin-bottom: 60px;
}
.nav-header{
	font-size: 20px;
}