<!doctype html>
<html lang="fr">

<head>
	<meta Charest="UTF-8">
	<title>Test AngularJS</title>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="/controller.js"></script>
	<link rel="stylesheet" href="/style.css">
</head>

<body ng-app='test' ng-controller="monControl">
	<button ng-click="affichage()">Afficher la liste</button>
	<ul>
		<li ng-repeat="fruit in mesFruits">{{fruit}}</li>
	</ul>
	
	<!--Script-->
	
</body>
</html>