<!doctype html>
<html lang="fr">

<head>
	<meta Charest="UTF-8">
	<title>Voici mon site</title>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/javascript/controller.js"></script>
</head>
<body ng-app ="test" ng-controller="monControl">
	<h1>{{maVariable}}</h1>
</body>
</html>