<!doctype html>
<html lang="fr">

<head>
	<meta Charest="UTF-8">
	<title>Test AngularJS</title>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/controller.js"></script>
</head>

<body ng-app ="test" ng-controller="monControl">
	<h1>Formulaire</h1>
	<form>
		<input type="text" ng-model="student.name" placeholder="Nom"></input>
		<input type="text" ng-model="student.firstName" placeholder="Prénom"></input>
		<input type="text" ng-model="student.birthDate" placeholder="Date de naissance"></input>
	</form>
	<ul>
		<button ng-click="ajout()">Valider</button>
	</ul>
<br>
{{myStudent}}
</body>
</html>

