<h2>Quit ut huic virilem</h2>
<div class='row-fluid'>
	<img class='span3' src='image/ex15_6.jpg'/>
	<h2 class='span9'>calculos vocare amicitiam</h2>
</div>
<div class='row-fluid'>
	<p class="span4">....</p>
	<p class="span4">....</p>
	<p class="span4">....</p>
</div>