<div class="row-fluid">
	<p class="span7">......</p>
<img class="span2" src="image/ex15_7.jpg"/>
</div>
<div class="row-fluid">
	<img class="span2" src="image/ex15_2.jpg"/>
	<p class="span5">.....</p>
	<p class="span5">...</p>
</div>