<!doctype html>
<html lang="fr">

<head>
	<meta Charest="UTF-8">
	<title>Test AngularJS</title>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/controller.js"></script>
	<link rel="stylesheet" href="/style.css">
</head>

<body ng-app='test' ng-controller="monControleur">
	<h1 id="monTitre">Séries en série</h1>
	<div class="row" id="mesSeries" ng-repeat="serie in tabSerie">
		<div class="offset5 span2"><img ng-src="{{serie.urlImage}}" width="200", height="200"></div>
		<div class="span5">
			<h2>{{serie.titre}}</h2>
			<p>Titre Original : {{serie.titreOr}}</p>
			<p>Créateur(s): {{serie.createur}}</p>
			<p>Etat: {{serie.etat}}</p>
		</div>
		</div>

	<!--Script-->
	
</body>
</html>